.topBarDiv{
  padding: 15px;
  background-color: lightgrey;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.resultsDropDown{
  margin-left: 5px;
}

.paginationDiv{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.paginationPages{
  margin:5px;
  padding: 10px;
  cursor: pointer;
}

.activePage{
  background-color: lightgrey;
  border-radius: 10px;
}